p{
    font-size: 2rem;
    color: white;
    @media screen and(max-width: 700px) {
    color: #ffffff;
    font-size: 1em;
        }
}
i{
    color: var(--esential-color);
    font-size: 2.5rem;
    text-shadow: 2px 0.1em #000000;
    @media screen and(max-width: 700px) {
    color: var(--esential-color);
    font-size: 1em;
        }
}

.services {
    margin: 0 auto;
    padding: 1rem;
    @media screen and(max-width: 700px) {
        padding-bottom: 3rem;
    }
    

    .s1 {
        font-size: 3rem;
        font-weight: bold;
        color: coral;
        padding: 1rem;
        opacity: 0;
        transform: translate(-300px, 0) scale(0);
        animation: sideSlide 1s forwards;
        animation-delay: 0.3s;
        @media screen and(max-width: 700px) {
            font-size: 1.3rem;
            
        }
        
    }
    .s2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: coral;
        padding: 1rem;
        opacity: 0;
        transform: translate(-300px, 0) scale(0);
        animation: sideSlide 1s forwards;
        animation-delay: 1.3s;
        @media screen and(max-width: 700px) {
            font-size: 1.3rem;
            
        }
    }
    .s3 {
        font-size: 2.5rem;
        font-weight: bold;
        color: coral;
        padding: 1rem;
        opacity: 0;
        transform: translate(-300px, 0) scale(0);
        animation: sideSlide 1s forwards;
        animation-delay: 2.3s;
        @media screen and(max-width: 700px) {
            font-size: 1.3rem;
            
        }
    }
}

@keyframes sideSlide {
    60% {
        transform: translate(20px, 0) scale(1);
        color: var(--esential-color)
    }

    80% {
        transform: translate(20px, 0) scale(1);
        color:coral
    }

    99% {
        transform: translate(0) scale(1.2);
        color:var(--esential-color)
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 1;
        color:coral
    }
}