.site-footer{
    background: url('../gallery/xray1.jpg') center;
    background-size: 60% 100%;
    padding-bottom: 2rem;
    padding-top: 0;
    background-repeat: no-repeat;
    opacity: 0.4;
    width: 100%;
    height: 200px;
    //height: 50vh;

}

/*.site-footer{
    background: url('../gallery/footer.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.4;
    width: 100%;
    height: 200px;
}*/
