.container{
   box-sizing: border-box;
}

.gallery{
   padding: 0;
   margin: 0;
   display: grid;
   grid-gap: 2px;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-flow: dense;
   @include bp-small {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @include bp-medium {
      grid-template-columns: repeat(4, 1fr);
    }
    
    @include bp-large{
      grid-template-columns: repeat(5, 1fr);
    }
    
    @include bp-xlarge {
      grid-template-columns: repeat(6, 1fr);
    }

   li {
      list-style: none inside;
      position: relative;
      overflow: hidden;
     &:before {
         display: block;
         padding-top: 100%;
         content: '';
       }
      }
      .hidden{
        display: none;
        @include bp-large{
         display: flex;
        }
        @include bp-xlarge {
          display: none;
         }
      }
      .span-c2{
      @include bp-small {
        grid-column: span 2;
      }
      @include bp-medium {
        grid-column: span 2;
      }
    }
    .span-r2{
      @include bp-small {
        grid-row: span 1;
      }
      @include bp-medium {
        grid-row: span 1;
      }
    }
    .span-b2{
      @include bp-medium {
        grid-row: span 1;
        grid-column: span 1;
      }
      @include bp-xlarge {
        grid-row: span 1;
        grid-column: span 1;
      }
    }
    .span-a2{
      @include bp-large {
        grid-row: span 1;
        grid-column: span 2;
      }
      @include bp-xlarge {
        grid-row: span 1;
        grid-column: span 1;
      }
    }
       a {
         display: block;
         position: absolute;
         top: 0; left: 0; bottom: 0; right: 0;
       }
       
       img {
         display: block;
         width: auto;
         height: 100%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }
       img:hover{
         opacity: 0.7;
       }
}