.navigation{
    padding-top: 5px;
    height: 3rem;
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    align-items: flex-start;
}
.navigation ul{
    display: inline-flex;
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
}
.menu{
    //width: 150px;
    width: 220px;
    height: 30px;
    //font-size: 2vw;
    font-size: 2.3vw;
    @media only screen and (max-width: 700px) {
        width: 70px;
      }
    
a{
    text-decoration: none;
    color: rgb(57, 2, 255);
    font-weight: bold;
    text-shadow: 1px 1px #404040;
    margin-top: 5px;
    padding: 5px;
    border-left: 2px solid rgb(57, 2, 255);
    border-right: 2px solid rgb(57, 2, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }
a:hover{
    //color: #ffffff;
    //color: #ff9966;
    color:#b10e81;
    border-top: 2px solid  rgb(57, 2, 255); //var(--esential-color);
    border-bottom: 2px solid  rgb(57, 2, 255); //var(--esential-color);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
 } 
}
