.social{
    position: fixed;
    bottom: 160px; right: 0;

li{
        list-style: none outside;
        margin-bottom: 2px;
    }
}

.fa{
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa:hover {
    color: #000000;
}

.fa-facebook {
    background: #3B5998;
    color: #ffffff;
}

.fa-linkedin {
    background: #007bb5;
    color: #ffffff;
}

.fa-twitter {
    background: #0077b5;
    color: #ffffff;
}
.fa-google {
    background: #dd4b39;
    color: #ffffff;
}
  
